body {
    background-color: #9dc3e6;
}

p {
    font-family:'Candara';
}

h1{
    font-family: 'Candara';
    font-size: 1.3em;
}

#moving_header {
    font-family: 'Verdana';
    font-size: 2.5em;
    align-content: center;
}

#cf {
  position: inline;
  left:15;
  height:558px;
  width:365px;
  margin:0 auto;

}

#cf img {
  position:absolute;
  left:15;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}


#cf1 {
  position:absolute;
  left:15;
  height:210px;
  width:650px;
  margin:0 auto;

}

#cf1 img {
  position:absolute;
  left:15;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf1 img.top:hover {
  opacity:0;
}


div3 {

	float: left;
    line-height: 1.6;
	font-size: 1.3em;
	width:630px;
	height:350px;
	margin:0px 0 0px 0px;
	background: #9dc3e6;
	margin: 15px 0px 0px 5px;
	display:inline;
	position: absolute;
	top: 145px;
    left: 15px;


}


div4 {

	float:left;
    line-height: 1.6;
	font-size: 1.3em;
	width:450px;
	height:74%;
	margin:0px 0 0px 0px;
	background:#9dc3e6;
	margin: 0px 0 0 40px;
	display:inline;
	position: relative;
	top: 45px;
	left: 630px;
}

    div5 {
        float:right;
        width: 350px;
        height: 545px;
        position: absolute;
        top: 170px;
        left: 1160px;
    }



    div6 {
        float:left;
        width: 610px;
        height: 180px;
        position: absolute;
    }

ul {

	list-style-type: none;
	margin: 0;
	width: 100%;
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: 98px;
}

li {

	float: left;
}


li a {

	display: flex;
	font-family:verdana;
	color: black;
	width: 100%;
	border:0.5px solid black;
	font-size:16px;
	text-align: center;
	padding: 16px;
	text-decoration: none;
    background-color: white;
}

li a:hover {

	background-color:  lightgrey;
	border:0.5px solid black;

}
